.container {
  background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  padding: 1rem 2rem;
}

.navbar {
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  cursor: default;

  .nav_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .nav_search{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;

    img {
      position: absolute;
      width: 26px;
      margin: 0.8rem 1rem;
    }

    input {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      line-height: 1.3rem;
      color: #ffffff;
      background: transparent;
      display: block;
      border: none;
      outline: none;
      padding: 1rem 0rem 1rem 3.5rem;
      border-radius: 5px;
      width: 80%;
      opacity: 0.5;

      &:focus {
        opacity: 1;
      }
    }

    ::placeholder {
      color: #ffffff;
    }
  }
}

